# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
env/
.venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and coverage reports
*.log
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Optional: dataset files you don't want to upload
*.csv
*.zip
*.npz



Update .gitignore for MNIST project
